<div class="well cssNav">
  <ul id="navbarLeft">
    <li id="navLILeft"><a href="#"><strong>Rent-Rabbit</strong></a></li>
    <li id="navLILeft"><input type='text' placeholder="Item Search"></input></li>
    <ul id="navbarRight">
      <li id="navLIRight">Dashboard</li>
      <li id="navLIRight">User Profile</li>
    </ul>
  </ul>
</div>
<div class="container userContainer">
  <section class="row">
  </section>
  <section class="row">
    <div class="col-xs-3 well userWell">
      <img src="http://i.imgur.com/AK0tVB2.jpg" class="profileImg">
      <div class="well"><h1><%= @user.first_name %> <%= @user.last_name.first %>.<br><small>Member Since <%= @user.created_at.strftime("%m/%Y") %><br>From <%=@user.location %></small></h1></div>
      <div class="well"><h2><%= @user.bio %></div>
      <div class="well">&#9733;&#9733;&#9733;&#9733;&#9734; Two Reviews</div>

      <!-- if @user.id == @current_user.id  -->
      <button type="button" class="btn btn-success btn-sm modalBtn" data-toggle="modal" data-target="#profileModal">Edit Info</button>

      <div class="modal fade" id="profileModal" tableindex="-1" rolde="dialog" aria-labelledby="profileModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
              <h4 class="modal-title" id="profileModalLabel">Edit User Information</h4>
            </div>
            <div class="modal-body">
              <%= bootstrap_form_for @user, url: { :action => "edit", :controller => "users"}, :method => "get" do |u| %>
                <%= u.text_field :first_name, hide_label: true %>
                <%= u.text_field :last_name, hide_label: true %>
                <%= u.text_field :location, placeholder: "Enter Location", hide_label: true %>
                <%= u.text_field :email, hide_label: true %>
                <%= u.text_area :bio, placeholder: "Write a bio", hide_label: true %>

                <%= u.primary "Update" %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning close" data-dismiss="modal" aria-label="Close">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-7">
      <section class="row">
        <% @item.each do |i| %>
          <div class="col-xs-5 userItems">
            <img src="<%= i.image %>" class="bikeIcon">
            <div class="itemDescripDiv"><h2>$<%= i.price_day %>/day | $<%= i.price_week %>/week | <%= i.title %><br><%= i.description %></h2></div>
          </div>
        <% end %>
      </section>
      <section class="row">
        <div class="col-xs-10">
          <h1>Reviews <button type="button" class="btn btn-success btn-sm modalBtn" data-toggle="modal" data-target="#reviewModal">Review User</button></h1>

          <div class="modal fade" id="reviewModal" tableindex="-1" rolde="dialog" aria-labelledby="reviewModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                  <h4 class="modal-title" id="reviewModalLabel">Review <%= @user.first_name %> <%= @user.last_name.first %>.</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-warning close" data-dismiss="modal" aria-label="Close">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div class="well">
            <p>Each Review</p>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>
