<div class="container userContainer">
  <section class="row">
  </section>
  <section class="row">
    <div class="col-xs-3 well userWell">
      <div class="row">
      <%= cl_image_tag(@user.image,
                          :height  => 150,
                          :width   => 290,
                          :class   => 'profileImg col-xs-6 col-sm-6 col-md-6 col-xs-offset-3 col-sm-offset-3 col-md-offset-3',
                          :radius  => 'max',
                          :crop    => :fill,
                          :bo      => '6px_solid_rgb:00390b60',
                          :gravity => :face,
                          :b       => :gray
                      )
      %>
      </div>
      <hr>
      <div class="about"><h1><%= @user.first_name %> <%= @user.last_name.first %>.<br><small>Member Since <%= @user.created_at.strftime("%m/%Y") %><br>From <%=@user.location %></small></h1></div>
      <hr>
      <div class="bio"><h2><%= @user.bio %></h2></div>
      <hr>
      <div class="rating hidden-xs"><%= @average %></div>
      <hr>
      <div class="col-xs-12 col-sm-12 col-md-12">
      <% if @current_user.id === @user.id %>
      <button type="button" class="btn nav-btn updateModalBtn col-xs-5 col-sm-5 col-md-5" data-toggle="modal" data-target="#profileModal">Edit Info</button>
      <div class="col-xs-2 col-sm-2 col-md-2"></div>
      <span><%= link_to "List Item", new_item_path, class: "btn nav-btn modalBtn col-xs-5 col-sm-5 col-md-5" %></span>
      </div>
      <% end %>
      <div class="modal fade" id="profileModal" tableindex="-1" rolde="dialog" aria-labelledby="profileModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
              <h4 class="modal-title" id="profileModalLabel"><strong>Edit User Information</strong></h4>
            </div>
            <div class="modal-body">

              <%= bootstrap_form_for @user, url: { :action => "update", :controller => "users"}, :method => "put" do |u| %>
                <%= u.text_field :first_name, hide_label: true %>
                <%= u.text_field :last_name, hide_label: true %>
                <%= u.text_field :email, hide_label: true %>
                <%= u.select :location,
                  [
                    ["Seattle"], ["Bellevue"], ["Green Lake"], ["Bothell"], ["West Seattle"], ["Northgate"], ["Ballard"]

                ], { label: "Choose your neighborhood" }, { class: "selectpicker" }
                  %>
                <%= u.text_area :bio, placeholder: "Write a bio", hide_label: true %>
                <%= u.file_field :image, label: "Input an image", :class => "col-md-6 col-md-offset-3 imageInput" %>
                <%= u.primary "Update" %>
              <% end %>
              <%= link_to "Delete", @user, :class => 'btn btn-danger userDelete', :data => {:confirm => 'Are you sure?'}, :method => :delete %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-10 col-md-9 userItems">
      <section class="row">
        <% @item.each do |i| %>
          <div class="col-xs-5 userItems">
            <%= cl_image_tag(i.image,
                          :height  => 150,
                          :width   => 350,
                          :crop    => :fill,
                          :gravity => :face
                      )
            %>
            <div class="itemDescripDiv">
              <h2>$<%= i.price_day %>/day | $<%= i.price_week %>/week | <%= i.title %><br><%= i.description %></h2>
              <% if i.rented == false || nil %>
                <%= link_to "Contact About Renting", class: "btn btn-success btn-sm modalBtn" %><br>
              <% else %>
                <p>Not Currently Available</p>
              <% end %>
              <%= link_to "Edit Item", item_path(i) %>
            </div>
          </div>
        <% end %>
      </section>

    </div>
  </section>
  <section class="row text-center">
    <div class="col-xs-8 col-xs-offset-2 reviewDiv">
      <div class="well wellWell"><h1>Reviews</h1>
        <% if @current_user.id != @user.id %>
          <button type="button" class="btn nav-btn modalBtn" data-toggle="modal" data-target="#reviewModal">Review User</button>
        <% end %>
      </div>

      <div class="modal fade" id="reviewModal" tableindex="-1" rolde="dialog" aria-labelledby="reviewModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
              <h4 class="modal-title" id="reviewModalLabel">Review for <%= @user.first_name %> <%= @user.last_name.first %>.</h4>
            </div>
            <div class="modal-body">
              <%= render 'reviews/form' %>
            </div>
          </div>
        </div>
      </div>
      <div class="well">
        <% @reviews.each do |r| %>
          <% if r.reviewer_id === @user.id %>
          <h2><%= r.review %></h2>
          <h3> Rating of : <%= r.rating %>/5
            <% if r.first_name %>
              <small>By : <%= r.first_name %>
            <% end %>
            <% if r.last_name %>
              <%= r.last_name.first %>.
            <% end %> ON : <%= r.created_at.strftime("%m/%d/%Y") %></small></h3>

          <hr>
          <% end %>

        <% end %>
      </div>
    </div>
  </section>
</div>
